$white: #FFF;
$black: #242424;


// Primary
$Primary:#00adef;
$PrimarySecond : #33BDF2;
$PrimaryLight : #66CEF5;


// text
$FirstBlackOne: #363636;
$FirstBlack: #4D4D4D;
$SecondBlack :#626262;
$ThirdBlack :#767676;
$FourthBlack :#8A8A8A;
$FifthBlack :#9F9F9F;
$SixthBlack :#B3B3B3;
$SeventhBlack :#C8C8C8;
$EighthBlack :#DCDCDC;
$NinethBlack :#F0F0F0;
$TenthBlack :#FAFAFA;

// border
$BorderColor: #ececec;