@use "../../shared/assets/scss/forward" as *;


div.carousel-container {
  max-height: 376px; 
  overflow: hidden;


  div.carousel-item{
    max-height: 376px;
    overflow: hidden;
    
    img.carousel-image {
      height: 350px;
      object-fit: contain;
      user-select: none;
    }

    h4.image-caption{
      line-height: 1.5;

      @include media("<=tablet"){
        &{
          font-size: 18px !important;
        }
      }

      @include media("<=Lphone"){
        &{
          font-size: 16px !important;
        }
      }
    }
  }

  a {
    width: 10% !important;

    @include media("<=Stablet"){
      &{
        width: 15% !important;
      }
    }

    span {
      background-color: $Primary !important;
      width: 2.2rem;
      height: 2.2rem;
      padding: 8px;
      border-radius: 4px;
    }
  }

  .caption-background {
    background-color: #141414be;
    padding: 20px 16px !important;
    color: white;
    border-radius: 4px;

    @include media("<=Stablet"){
      &{
        padding: 16px 12px !important;
      }
    }
  }
}
