div.content-container-iritf{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 4px;
  padding: 32px 24px;
}

div.carousel-container {
  height: 400px; 
  overflow: hidden;

  div.carousel-item{
    height: 400px;
    overflow: hidden;
    
    img.carousel-image {
      object-fit: fill;
      height: 100%;
      user-select: none;
    }

    h4.image-caption{
      line-height: 1.5;
    }
  }

  a {
    width: 10% !important;
  }

  .caption-background {
    background-color: #141414be;
    padding: 20px 16px !important;
    color: white;
    border-radius: 4px;
  }
}
