@use "../../shared/assets/scss/forward" as *;


div.carousel-container {
  max-height: 376px; 
  overflow: hidden;

  // @include media("<=Sdesktop"){
  //   &{
  //     height: 360px; 
  //   }
  // }

  // @include media("<=992px", ">tablet"){
  //   &{
  //     height: 480px; 
  //   }
  // }

  // @include media("<=Stablet"){
  //   &{
  //     height: 300px; 
  //   }
  // }

  // @include media("<=Lphone"){
  //   &{
  //     height: 260px; 
  //   }
  // }

  div.carousel-item{
    max-height: 376px;
    overflow: hidden;

    // @include media("<=Sdesktop"){
    //   &{
    //     height: 360px; 
    //   }
    // }

    // @include media("<=992px", ">tablet"){
    //   &{
    //     height: 480px; 
    //   }
    // }

    // @include media("<=Stablet"){
    //   &{
    //     height: 300px; 
    //   }
    // }

    // @include media("<=Lphone"){
    //   &{
    //     height: 260px; 
    //   }
    // }
    
    img.carousel-image {
      object-fit: fill;
      height: 100%;
      user-select: none;
    }

    h4.image-caption{
      line-height: 1.5;

      @include media("<=tablet"){
        &{
          font-size: 18px !important;
        }
      }

      @include media("<=Lphone"){
        &{
          font-size: 16px !important;
        }
      }
    }
  }

  a {
    width: 10% !important;

    @include media("<=Stablet"){
      &{
        width: 15% !important;
      }
    }
  }

  .caption-background {
    background-color: #141414be;
    padding: 20px 16px !important;
    color: white;
    border-radius: 4px;

    @include media("<=Stablet"){
      &{
        padding: 16px 12px !important;
      }
    }
  }
}
