@use "../../shared/assets/scss/forward" as *;


div.content-container-iritf{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 4px;
  padding: 32px 24px;

  @include media("<=992px"){
    &{
      padding: 32px 16px !important;
    }
  }
}

div.left-side-content{
  position: sticky;
  top: 24px;
  height: fit-content;

  @include media("<=992px"){
    &{
      padding-top: 32px;
    }
  }
}

div.card{
  border: 1px solid $NinethBlack;

  h5 {
    color: $FirstBlackOne;
  }
}

div.news-list {

  div.news{
    display: flex;
    align-items: center;
    max-height: 88px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid $EighthBlack;
    direction: rtl;

    img {
      height: 68px;
      width: 120px;
      object-fit: fill;
    }

    div.news-info {
      padding-right: 16px;

      p{
        font-size: 14px;
        line-height: 1.33;
        margin: 0;
        direction: rtl;
      }
    }
  }
}

button.primary-color-btn {
  background-color: $PrimarySecond;
  border-radius: 4px;
  min-width: fit-content !important;
  padding: 8px 12px !important;
  box-shadow: none !important;
  color: $white;
  font: inherit;
  font-size: 14px;

  &:hover{
    background-color: $PrimarySecond;
  }


  &:focus{
    background-color: $Primary;
  }
}


div.ranking-iritf {

  // div.MuiTabs-flexContainer { 
  //   background-color: $TenthBlack !important;
  // }
  
  div.MuiTabScrollButton-horizontal{
    color: $Primary;
  
    svg{
      color: $SecondBlack;
    }
  }
  
  div.MuiBox-root{
    direction:ltr;
    padding-bottom: 0;
    @include media("<=tablet"){
      &{
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  
  div.MuiTabs-flexContainer {
  
    @include media(">660px"){
      &{
        justify-content: flex-end;
      }
    }
  }
  
  p.MuiTypography-root {
    direction: rtl;
  }
  
  button.rank-tab {
    font: inherit !important;
    font-size: 16px !important;
  
    @include media("<=tablet"){
      &{
        font-size: 14px !important;
      }
    }
  
    &.Mui-selected {
      color: $Primary !important;
    }
  }
  
  span.MuiTabs-indicator{
    background-color: $Primary !important;
  }
  
  div.ranks-list {
  
    & a:not(:last-child){
      div.ranks {
        border-bottom: 1px solid $EighthBlack;
      }
    }
  
    div.ranks {
      display: flex;
      align-items: center;
      max-height: 88px;
      padding-bottom: 8px;
      margin-bottom: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      direction: rtl;
      font-family: inherit;
  
      img {
        max-height: 68px;
      }
  
      div.ranks-info {
        padding-right: 16px;
  
        p{
          font-size: 14px;
          line-height: 1.33;
          margin: 0;
          direction: rtl;
        }
      }
    }
    div.top-rank {
      margin-bottom: 24px;
  
      img {
        border-radius: 4px;
        width: 200px !important;
        object-fit: fill;
      }
      
      h5 {
        margin: 16px 0;
        color: $FirstBlackOne;
      }
    }
  }
}

.less-reports {
  display: flex;

  a{
    padding-left: 16px;
  }
}

div.image-reports-slider {
  margin-top: 16px;
  margin-bottom: 32px;

  a {
    display: inline-block;
    // width: fit-content;
  }

  .single-image{
    object-fit: cover;
    min-height: 140px;
    height: 100%;
    width: 100%;
  }

  div.image-report {
    direction: rtl;
    width: fit-content;

    p{
      font-size: 14px;
      padding: 12px 0;
      padding-right: 12px;
      margin: 0;
    }
  }
}

ul.slick-dots {
  li {
    button {

      &::before {
        font-size: 58px;
        color: $Primary !important;
      }
    }
  }
}

.slick-slide {
  border-radius: 4px;
  & img {
    padding: 0 8px;
  }
}