@use "../../shared/assets/scss/forward" as *;

.row {
  @include media("<=992px"){
    &{
      margin-bottom: 20px;
    }
  }
}

.videoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
}

.video {
  max-width: 100%;
  height: fit-content;
}