@use "../../shared/assets/scss/forward" as *;

.news-section {

  .card-body {
  
    .row{
      direction: rtl;
    }

    .date{
      width: fit-content;
      
      h6:first-child{
        margin-bottom: 4px;
        padding: 8px 12px;
        font-weight: 500;
        font-family: 16px;
        background-color: $EighthBlack;
        border-radius: 4px;
        color: $SecondBlack;
      }
    }

    .detail-date{
      width: fit-content;
      
      h6{
        display: inline-block;
      }
    }

    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 20px;

      p {
        color: $SecondBlack;
        font-weight: 400;
        font-size: 14px;
      }
    }
  
    h5 {
      margin-bottom: 20px;
    }
  
    img {
      height: 200px !important;
      width: 100% !important;
      object-fit: cover;
    }
  }
}
