@use "../../../shared/assets/scss/forward" as *;

div.social-links {
  margin: 0 12px;

  span.social-link{
    padding: 0 8px;

    &:hover svg {
      color: $black;
    }

    svg {
      transition: all 200ms ease-in;
    }
  }
}