@use "../../assets/scss/forward" as *;

aside#sideBar {

  button.side-bar-tab {
    padding: 8px;
    min-width: 80px !important;
  }

  div.MuiTabScrollButton-horizontal{
    color: $Primary;
  
    svg{
      color: $SecondBlack;
    }
  }
  
  div.MuiBox-root{
    direction:ltr;
    border-bottom: 0;
    @include media("<=tablet"){
      &{
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
  }

  div.css-19kzrtu {
    border-bottom: 1px solid $Primary;
    padding-bottom: 16px;
    padding-right: 12px;
    width: 100%;
  }
  
  div.MuiTabs-flexContainer {
  
    @include media("<992px"){
      &{
        justify-content: flex-end;
      }
    }
  }
  
  p.MuiTypography-root {
    direction: rtl;
  }
  
  button.side-bar-tab {
    font: inherit !important;
    font-size: 12px !important;
  
    @include media("<=tablet"){
      &{
        font-size: 12px !important;
      }
    }
  
    &.Mui-selected {
      color: $Primary !important;
    }
  }
  
  span.MuiTabs-indicator{
    background-color: $Primary !important;
  }
  
  div.side-bar-lists {
  
    & a:not(:last-child){
      div.side-bar-list {
        border-bottom: 1px solid $EighthBlack;
      }
    }
  
    div.side-bar-list {
      display: flex;
      max-height: 88px;
      padding-bottom: 8px;
      margin-bottom: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      direction: rtl;
      font-family: inherit;
  
      img {
        max-height: 68px;
      }
  
      div.side-bar-info {
        padding-right: 16px;
  
        p{
          font-size: 14px;
          // line-height: 1.33;
          margin: 0;
          direction: rtl;
        }

        span.side-bar-list-time{
          font-size: 12px;
          color: $FifthBlack;
          margin-top: 4px;
        }
      }
    }
  }

  div.widgets {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    div.widget{
      img {
        max-width: 100px;
      }
    }

    div.olympic-widget{
      
      img {
        max-width: 72px;
      }
    }
  }
}
