@use "../../../shared/assets/scss/forward" as *;


footer.footer {
  margin-top: 24px;
  padding: 40px 0;
  padding-bottom: 12px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  
  div.footer-content{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;

    div.footer-item{
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 40px;
      margin-bottom: 40px !important;

      @include media("<=phone"){
        &{
          margin: 0 12px;
        }
      }
    }

    h5{
      margin: 0;
      align-self: flex-end;
    }

    hr {
      align-self: stretch;
    }
  }

  div.membership {

    p.membership-text{
      font-size: 14px;
      direction: rtl;
    }

    div.membership-form{
      display: flex;
      gap: 8px;
      direction: rtl;
      width: 100%;
      margin-top: 12px;

      @include media("<=tablet"){
        &{
          justify-content: flex-start;
        }
      }

      input.email-field{
        direction: rtl;
        width: 100%;
        padding: 12px 16px;
        border-radius: 8px;
        border: 1px solid $FifthBlack !important;
        background-color: $TenthBlack;
        outline: none;

        @include media("<=tablet"){
          &{
            width:auto;
          }
        }
  
        &::placeholder{
          color: $SixthBlack;
        }
      }
    }
    
    button.membership-btn{
      background-color: $PrimarySecond;
      border-radius: 8px;
      min-width: fit-content !important;
      padding: 8px 12px !important;
      color: $white;
      font: inherit;

      @include media(">tablet"){
        &:hover{
          background-color: $Primary;
        }
      }

      &:focus{
        background-color: $Primary;
      }
    }
  }

  div.rights{
    width: 100%;
    margin-top: 20px;
    padding: 0 40px;

    @include media("<=phone"){
      &{
        padding: 0 12px;
      }
    }

    div.rights-content{
      border-top: 1px solid $SixthBlack;
      padding-top: 20px;
      width: 100%;

      p.rights-text {
        font-size: 14px;
        color: $SecondBlack;
        direction: rtl;
      }
    }
  }
}