.MuiAlert-message {
  padding: 8px 16px !important;
  padding-right: 8px !important;
}

.MuiGrid-container {
  display: unset !important;
}

.MuiAlert-action {
  margin-left: 0 !important;
  margin-right: auto !important;
}