
.image {
  direction: rtl;
  padding: 0 6px;

  img {
    max-height: 180px;
    object-fit: cover;
  }

  p{
    font-size: 14px;
    padding: 12px 0;
    padding-right: 12px;
    margin: 0;
    font-weight: 500;

    &:nth-child(3){
      padding: 8px 0;
      padding-right: 12px;
    }
  }
}