@use "../../shared/assets/scss/forward" as *;

div.under-maintenance {
  border-radius: 4px;
  padding: 32px 24px;
  padding-top: 0;

  @include media("<=992px"){
    &{
      padding: 32px 16px !important;
    }
  }
}


button.under-maintenance {
  background-color: $PrimarySecond;
  border-radius: 8px;
  min-width: fit-content !important;
  padding: 8px 12px !important;
  margin-top: 16px;
  box-shadow: none !important;
  color: $white;
  font: inherit;

  &:hover{
    background-color: $Primary;
  }

  &:focus{
    background-color: $Primary;
  }  
}