@use "./shared/assets/scss/forward" as *;

.direction-rtl-container {
  direction: rtl;
}

.section-title {
  direction: rtl;
}

.pagination {
  direction: rtl;
  margin-top: 20px;

  @include media("<=992px"){
    &{
      justify-content: center;
    }
  }

  .active {

    a {
      background-color: #00adef;
      border-color: #00adef;
    }
  }
}

.share {
  h6 {
    padding: 12px;
    background-color: $Primary;
    color: $white;
    margin: 0;
    border-radius: 4px;
  }
}

.toast {
  direction: rtl;
}

.toast-header {
  justify-content: space-between;
}

.toast-body {
  color: $white;
}