@use "./shared/assets/scss/basics";
@use "./shared/assets/scss/forward" as *;

div.container-iritf{
  min-width: 320px;
  min-height: 100vh;

  div.content-wrapper-iritf{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;

    @include media("<Laptop"){
      padding: 0 12px;
    }

    @include media("<=920px"){
      &{
        padding: 0;
      }
    }
  }
}
